</div>
    <footer class="bg-dark text-white">
      <div class="container text-center pt-4 pb-4 h4">
        Copyrights 2021 &copy Movie Night Organizer App 
      </div>
    </footer>
    <!-- This is the Footer of the Website -->