<%- include ('_header') -%>
<div class="container mt-3">
  <div class="d-flex" style="width: 100%; height: 80vh">
    <div class="my-auto mx-auto">
<h1 class="text-center mb-3">Movie Night</h1>
<p class="text-center mb-3">By clicking on generate<br/>A Movie will be generated.</p>
   
      <form method="POST" action="/result">
          
          <div class="text-center mt-3 mb-3">
      
            <button id="btnSubmit" class="btn btn-outline-success btn-lg" type="submit" >
              Generate
            </button>


         

       
      </form>

    
    
      
    </div> 

    
      </div>
      </div>

<%- include('_footer') -%>
  <%- include('_scripts') -%>
</Movies.length;>
<!-- Movie Night Page -->