<%- include ('_header') -%>
<div class="container">
  <div class="d-flex" style="width: 100%; height: 80vh">
    <div class="my-auto mx-auto">
      <h2>The Movie Night is:</h2>
      <h4 class="text-center"><%= MovieName %></h4>
    </div>
  </div>
</div>
<%- include ('_footer') -%> <%- include('_scripts') -%>
